<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
		<link
			rel="stylesheet"
			href="../../../../../../src\main\webapp\resources\css\sharedStyle.css"
		/>
		<link
			rel="stylesheet"
			href="../../../../../../src\main\webapp\resources\css\member\login.css"
		/>
		<title>Document</title>
	</head>
	<body>
		<section>
			<div class="login-logo-container">
				<img
					class="login-logo"
					src="../../../../../../src\main\webapp\resources\images\logo\signature.png"
					alt="안나옴"
				/>
			</div>

			<div class="login-fields-container">
				<h4 class="login-error-msg">아이디나 패스워드가 일치하지 않습니다</h4>
				<h3>아이디</h3>
				<input type="text" class="input--text" id="login-id" />
				<h3>패스워드</h3>
				<input type="password" class="input--text" id="login-pw" />
			</div>
			<div class="login-sub-menu-container">
				<h5 class="id-pw-finder">ID/PW 찾기</h5>
				<h5>||</h5>
				<h5 class="sign-up">회원가입</h5>
			</div>
			<div class="login-button-container">
				<button class="btn btn--primary">로그인</button>
			</div>
			<div class="oauth-button-container">
        <h4>간편 회원 가입/로그인</h4>
				<div class="buttons">
					<img
						src="../../../../../../src\main\webapp\resources\images\sns\google-icon.svg"
						alt=""
						id="btn-google"
					/>
					<img
						src="../../../../../../src\main\webapp\resources\images\sns\kakao.png"
						alt=""
						id="btn-kakao"
					/>
					<img
						src="../../../../../../src\main\webapp\resources\images\sns\naver.PNG"
						alt=""
						id="btn-naver"
					/>
				</divbuttons>
			</div>
		</section>
	</body>
	<script>
		

	</script>
</html>
