#wholeback{
    display:flex;
    flex-flow:row wrap;    
}
.tab_menu{
    width:18%;
    min-width: 240px;    
    height:100vh;
    background-color: #ffca28;
    font-size:18px;
}
.tab_menu h2{
    margin-left:-15px;
}
#container{
    width:55%;    
    margin-left:20px;
}
#container hr{
    margin-left:-20px;
}
.div_info{
    padding-bottom: 20px;
}