<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardAuction">

	<select id="selectBusinessKey" resultType="map">
		select *
 from business 
 where member_Key=#{signedInMember.memberKey} 
		
	</select>

	<!-- auction등록 -->
	<insert id="inertEnllo" parameterType="boardAuction">
		INSERT INTO BOARD_AUCTION values(SEQ_article_No.nextval,
		#{title},#{writerKey},SYSDATE,SYSDATE,
		#{startDate},#{endDate},#{ReadCount},#{auctionStatusNo},#{content}
		)
		<selectKey order="AFTER" resultType="_int" keyProperty="articleNo">
			select SEQ_article_No.currval from dual
		</selectKey>
	</insert>
	
	<!-- auction파일등록 -->
	<insert id="insertUpFile" parameterType="boardAttachementFile">
	 insert into BA_ATTACHED_FILE values(SEQ_FILE_KEY.NEXTVAL,#{articleNo},#{originalFileName},#{renamedFileName})
	</insert>
	<!-- auction이미지파일등록 -->
	<insert id="insertImgFile" parameterType="boardAttachementImage">
	insert into BA_ATTACHED_IMAGE values(SEQ_IMAGE_KEY.NEXTVAL,#{articleNo},#{imgOriginalFileName},#{imgRenamedFileName})
	</insert>
	
	<!-- 옥션 list -->
	<select id="selectAuctionList" resultType="map">
	select * from BOARD_AUCTION
	</select>
</mapper>
