<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardAuction">

	<select id="selectBusinessKey" resultType="map">
		select *
 from business 
 where member_Key=#{signedInMember.memberKey} 
		
	</select>

	<!-- auction등록 -->
	<insert id="inertEnllo" parameterType="boardAuction">
		INSERT INTO BOARD_AUCTION values(SEQ_article_No.nextval,
		#{title},#{writerKey},SYSDATE,SYSDATE,
		#{startDate},#{endDate},#{ReadCount},#{auctionStatusNo},#{content}
		)
		<selectKey order="AFTER" resultType="_int" keyProperty="articleNo">
			select SEQ_article_No.currval from dual
		</selectKey>
	</insert>
	
	<!-- auction파일등록 -->
	<insert id="insertUpFile" parameterType="boardAttachementFile">
	 insert into BA_ATTACHED_FILE values(SEQ_FILE_KEY.NEXTVAL,#{articleNo},#{originalFileName},#{renamedFileName})
	</insert>
	<!-- auction이미지파일등록 -->
	<insert id="insertImgFile" parameterType="boardAttachementImage">
	insert into BA_ATTACHED_IMAGE values(SEQ_IMAGE_KEY.NEXTVAL,#{articleNo},#{imgOriginalFileName},#{imgRenamedFileName})
	</insert>
	
	<!-- 옥션 list -->
	<select id="selectAuctionList" resultType="map">
 	select ba.*,b.business_name,bi.renamed_file_name,(select count(*) from board_auction where ba.article_no=article_no)as ATTAC from board_auction ba 
	join business b on ba.writer_key=b.business_key inner join ba_attached_image bi on ba.article_no=bi.article_no
	</select>
	<!-- 옥션 list count -->
	<select id="selectCount" resultType="_int">
		select count(*) from board_auction
	</select>
	<select id="selectAuctionView" resultType="map">
		select * from board_auction ba join business b on ba.writer_key=b.business_key inner join ba_attached_image bi on ba.article_no=bi.article_no
		where ba.article_no=#{articleNo}
	</select>
	<select id="getReplyList" resultType="boardAuction">
		select * from board_Auction where writerKey = #{bid}
	</select>
	<update id="plusReadCount" parameterType="boardAuction">
		update board_Auction set READ_COUNT = READ_COUNT + 1 where ARTICLE_NO=#{articleNo}
	</update>
	<!-- auction bidLike -->
	<update id="updateAuctionBid" parameterType="map">
		update AUCTION_BID set bid_Status_No=#{bidStatusNo} where article_no=#{articleNo} and writer_Key=#{writerKey}
	</update>
	<!-- 좋아요!check -->
	<insert id="insertAuctionBid" parameterType="map">
		insert into AUCTION_BID  values(SEQ_BID_KEY.NEXTVAL,#{articleNo},#{writerKey},'1') where where article_no=#{articleNo} and writer_Key=#{writerKey}
	</insert>
	<!-- 좋아요!check -->
	<select id="checkLike" resultType="map">
		select BID_STATUS_NO from AUCTION_BID where ARTICLE_NO = #{articleNo} and WRITER_KEY=#{writerKey}
	</select>
	<!-- 조회수 -->
	<select id="selectAuctionOne" resultType="map">
		select * from board_auction ba join business b on ba.writer_key=b.business_key inner join ba_attached_image bi on ba.article_no=bi.article_no
		where ba.article_no=#{articleNo}
	</select>
	<!-- auction bid등록  -->
	<insert id="insertJoinAuctionList" parameterType="auctionBid">
		insert into AUCTION_BID values(SEQ_BID_KEY.NEXTVAL,#{articleNo},#{writerKey},#{bidStatusNo},SYSDATE) 
		<selectKey order="AFTER" resultType="_int" keyProperty="bidKey">
			select SEQ_BID_KEY.currval from dual
		</selectKey>
	</insert>
	<!--  bid content 등록  -->
	<insert id="insertJoinEnlloBidContent" parameterType="bidContent">
		insert into BID_CONTENT values(#{bidKey},#{productName},#{productQuality},#{productOrigin},#{Quantity},#{measureUnit},#{price})
	</insert>
		<!--  bid content 목록 불러오기   -->
		<select id="selectselectBidContent" resultType="map">
			select * from auction_bid ab inner join bid_content bc on ab.bid_key=bc.bid_key where ab.article_no=#{articleNo} and ab.writer_key=#{writerKey}
		</select>
		
		<!-- join목록 삭제  -->
		<delete id="auctionJoinListdelete" parameterType="_int">
			delete from auction_bid a where exists(SELECT * FROM bid_content bc where a.bid_key=#{bidKey})
		</delete>
		<!--참여업체수   -->
		<select id="selectAuctionJoinCount" resultType="_int">
			select count(DISTINCT ab.writer_key) from auction_bid ab where ab.article_no=#{writerKey}
		</select>
		
		<!--참여업체수   -->
		<select id="selectJoinCompany" resultType="auctionBid">
			select writer_key from auction_bid where writer_key=#{writerKey} group by writer_key
		</select>
		<!-- join목록 list수정 -->
		<update id="auctionJoinUpdate" parameterType="map">
			update BID_CONTENT set PRODUCT_NAME=#{productName},PRODUCT_QUALITY=#{productQuality},PRODUCT_ORIGIN=#{productOrigin},
			PRODUCT_QUANTITY=#{Quantity},MEASURE_UNIT=#{measureUnit},PRICE=#{price} where BID_KEY=#{bidKey}
		</update>
		
		<select id="selectJoinList" resultType="map">
			select * from BID_CONTENT where BID_KEY=#{bidKey}
		</select>
		
		<!-- deletejoinlistAll -->
		<delete id="listAlldelete" parameterType="_int">
			delete from auction_bid  where article_no=#{articleNo} and writer_key=#{writerKey};
		</delete>
		<!-- auctionjoinlist check -->
		<select id="checkAuctionBid" resultType="_int">
			select count(*) from auction_bid where article_no=#{articleNo} and writer_key=#{writerKey} 
		</select>
		<select id="selectAuctionListAll" resultType="map">
			select rownum, b.* from board_auction b inner join BA_ATTACHED_IMAGE a on b.article_no=a.article_no inner join BUSINESS bs on b.writer_key=bs.business_key where rownum between 1 and 5
		</select>
		
		<select id="checkPeaple" resultType="string">
				select m.email from BOARD_AUCTION ba inner join AUCTION_BID ab  on ba.article_no=ab.article_no 
		inner join business b on ab.writer_key=b.business_key 
		inner join member m on b.member_key=m.member_key 
		where ba.article_no= #{articleNo}
		</select>
		<select id="choicedOnAuction" resultType="boardAuction">
			select * from BOARD_AUCTION where article_No=#{articleNo}
		</select>
		<select id="choicedOnBidContent" resultType="bidContent">
			select * from BUSINESS where memberKey=#{writerKey}
		</select>
</mapper>
