<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>슬라이드 배너 광고 신청페이지</title>
</head>
<body>
    <section>
        <form action="" enctype="multipart/form-data" method="post">
            <h2>배너 광고 신청</h2>
            <hr>
            <div id="div_intro">
                <ul><u>슬라이드 배너 광고란?</u>
                    <li>메인페이지 가장 상단에 게재되는 광고로써, 효율적인 유입경로 확보 및 노출 극대화 달성</li>
                    <li>기존 이미지 소재를 활용하려는 광고주를 위한 형태</li>
                    <li>정적, 동적 이미지 형태의 소재를 다양한 사이즈로 유저에게 노출 가능</li>
                </ul>
                <br>
                <ul><u>광고 형식</u>
                    <li>GIF, JPG, PNG, HTML5</li>
                    <li>대표 사이즈 및 지원 사이즈 (980x320)</li>
                </ul>
            </div>

            <div id="div_title">
                <span><u>제목</u></span><input type="text" name="ads_title" required>
            </div>

            <div id="div_description">
                <span><u>요청메시지</u></span><br>
                <textarea name="ads_description" rows="7" cols="150" style="resize:none" placeholder="내용을 입력해주세요" required></textarea>
            </div>

            <div id="div_attached">
                <p><u>첨부파일(메인배너에 삽입될 이미지를 980x320 사이즈로 업로드)</u></p>
                <span><u>Preview(미리보기)</u></span><br>
                <img src="" alt="첨부이미지 없음" width="980" height="320"><br>
                <input type="file" name="upload" multiple accept="image/*" required>
                <input type="button" id="deleteFile" name="deleteFile" value="삭제" onclick="fn_deleteFile();">                
            </div>

            <div id="div_url">
                <span><u>url</u></span><input type="text" name="ads_url" placeholder="이미지 클릭 시, 이동할 주소입력" required><br>
                <span>[이미지 클릭 시, 이동할 주소를 입력해주세요. 요청주소가 없을 시, -입력]</span>
            </div>

            <div id="div_period">
                <p><u>기간 및 가격</u></p>
                개시일<input type="date" name="ads_start_date" required><br>
                <input type="radio" name="ads_period" value="1">1일(10,000원)
                <input type="radio" name="ads_period" value="3">3일(28,000원)
                <input type="radio" name="ads_period" value="7">7일(58,000원)
                <input type="radio" name="ads_period" value="14">14일(110,000원)
                <input type="radio" name="ads_period" value="30">30일(220,000원)<br>
                <input type="radio" name="ads_period" value="">기타<br>
                종료일<input type="date" name="ads_end_date">
                <!-- 기타 선택 시, return false로 체크 -->
                <input type="text" value="" name="ads_price" readonly>원
            </div>

            <div id="div_submit">
                <input type="submit" value="결제화면으로 이동">
                <input type="reset" value="취소">
            </div>

        </form>
    </section>
</body>
</html>