<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>도매인 추천 게시글 신청페이지</title>
</head>
<body>
    <section>
        <form action="" method="post">
            <h2>도매인 추천 게시글 신청페이지</h2>
            <hr>
            <div id="div_intro">
                <ul><u>추천 게시글 광고란?</u>
                    <li>도매인 메인페이지 내 추천 게시글로 게재되는 광고로써, 게시글 조회를 유도하고자 하는 광고주들을 위한 유형</li>
                    <li>등록된 이미지 및 정보, 직접 등록한 텍스트/영상 소재를 이용하여 입찰홍보 및 판매 마케팅에 특화된 형태</li>
                </ul>
                <br>
                <ul><u>광고 형식</u>
                    <li>일반적인 게시글 형태로 지원</li>
                </ul>
            </div>

            <div id="div_myArticle">
                <p><u>내가 쓴 게시글</u></p>
                <!-- <c:if test=""> -->
                    <table id="table_myArticle">
                        <thead>
                            <tr>
                                <th>게시판</th>
                                <th class="colspan">제목</th>
                                <th>날짜</th>
                            </tr>
                        </thead>                    
                        <tbody>                    
                        <c:forEach items="" var="">                        
                            <tr>
                                <td><input type="radio" id="myArticle" name="myArticle" value="article_no"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </c:forEach>
                        </tbody>
                    </table>
                    <div id="div_pageBar">

                    </div>
                <!-- </c:if> -->
            </div>

            <div id="div_preview">
                <p><u>Preview(미리보기)</u></p>
                <div id="div_ajax">

                </div>
            </div>

            <div id="div_period">
                <p><u>기간 및 가격</u></p>
                개시일<input type="date" name="ads_start_date" required><br>
                <input type="radio" name="ads_period" value="1">1일(10,000원)
                <input type="radio" name="ads_period" value="3">3일(28,000원)
                <input type="radio" name="ads_period" value="7">7일(58,000원)
                <input type="radio" name="ads_period" value="14">14일(110,000원)
                <input type="radio" name="ads_period" value="30">30일(220,000원)<br>
                <input type="radio" name="ads_period" value="">기타<br>
                종료일<input type="date" name="ads_end_date">
                <!-- 기타 선택 시, return false로 체크 -->
                <input type="text" value="" name="ads_price" readonly>원
            </div>

            <div id="div_submit">
                <input type="submit" value="결제화면으로 이동">
                <input type="reset" value="취소">
            </div>

        </form>
    </section>
</body>
</html>