<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>[관리자]광고관리 메인페이지</title>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

  // Load the Visualization API and the corechart package.
  google.charts.load('current', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.charts.setOnLoadCallback(drawVisualization);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
          ['Month', '승인', '반려', '대기', '총 요청건', '광고수 추이'],
          ['8월',  9,      2,         0,             11,      9],
          ['9월',  5,      1,        0,             6,      5],
          ['10월',  13,      9,        0,             22,      13],
          ['11월',  18,      13,        0,             31,      18],
          ['12월',  8,      3,         1,             12,      8]
        ]);

        var options = {
          title : '월 별 광고통계(2020년)',
          vAxis: {title: '광고 처리수'},
          hAxis: {title: '월(month)'},
          seriesType: 'bars',
          series: {4: {type: 'line'}},
          chartArea: {
              width:'68%',
              height: '180'},
          animation: {
              startup: true,
              duration: 3000,
              easing: 'out'
            }
        };

        var chart = new google.visualization.ComboChart(document.getElementById('div_gChart'));
        chart.draw(data, options);
    }
</script>
</head>
<style>
#wholeback{
    display:flex;
    flex-flow:row wrap;
}
.tab_menu{
    width:18%;
    min-width: 240px;    
    background-color: #ffca28;
    font-size:18px;
}
.tab_menu h2{
    margin-left:-15px;
}
#container{
    width:55%;    
    margin-left:20px;
}
#container hr{
    margin-left:-20px;
}
.div_info{
    padding-bottom: 20px;
}
</style>
<body>
    <section>
        <div id="wholeback">
            <div class="tab_menu">
                <ul><h2>[관리자] 광고관리</h2>
                    <li><a href=""><h5>슬라이드 배너 관리</h5></a></li>
                    <li><a href=""><h5>광고 요청 검토</h5></a></li>
                </ul>
            </div>
            <div id="container">
                <h2>광고관리 페이지</h2>
                <hr>
                <div class="div_info">
                    <h3><u>알림메시지</u></h3>
                    <p>
                        관리자<>님, 돌아오셨군요!<br>
                        현재 검토 대기중인 광고 요청이 총 <> 건 있습니다.
                    </p>
                </div>
                <hr>
                <div class="div_stat">
                    <h4><u>광고통계(총 광고 요청수 / 승인 / 반려 / 검토대기)</u></h4>
                    <br>
                    <div id="div_gChart"></div>
                    <br><br><br><br>
                </div>
            </div>
        </div>
    </section>

</body>
</html>