<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="auctionComment">
	
	<insert id="acComment" parameterType="auctionComment">
		INSERT INTO AUCTION_COMMENT VALUES(SEQ_AUCTION_COMMENT_NO.NEXTVAL,
		#{commentContent},
		#{writerKey},
		SYSDATE,
		SYSDATE,
		#{articleStatusNo},
		#{refArticle},
		null,
		#{originalFileName},
		#{renamedFileName})
		<selectKey order="AFTER" resultType="_int" keyProperty="refArticle">
			select SEQ_AUCTION_COMMENT_NO.CURRVAL FROM DUAL
		
		</selectKey>
	</insert>
	
	<select id="selectAuctionComment" resultType="map">
	select * from AUCTION_COMMENT  where REF_ARTICLE=#{refArticle} order by WRITTEN_DATE desc
		
	</select>
	
	<update id="commentUpdate" parameterType="_int">
		update AUCTION_COMMENT COMMENT_CONTENT=#{commentContent} where AUCTION_COMMENT_NO=#{refArticle}
		
	</update>
	<delete id="commentDelete" parameterType="_int">
		delete from AUCTION_COMMENT where AUCTION_COMMENT_NO=#{refArticle}
	</delete>
	
	<select id="selectCommentCount" resultType="_int">
			select count(*) from AUCTION_COMMENT where REF_ARTICLE=#{articleNo}
	</select>
	
	<insert id="insertLike" parameterType="auctionCommentLike">
		insert into AUCTION_COMMENT_LIKE values(#{commentNo},#{actorKey},SYSDATE)
	</insert>
	<select id="checkLike" resultType="auctionCommentLike">
		select * from AUCTION_COMMENT_LIKE where COMMENT_NO=#{commentNo} and ACTOR_KEY=#{actorKey}
	</select>

</mapper>