.myPageHeader {
	/* background-color: var(--main-yellow); */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 200px;
	height: 100%;
	border-right:1px #ddd solid;
}

.myPageHeader>a {
	margin: 10px;
	font-size: 27px;
}

#context {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
}

.section-content {
	width: calc(100% - 200px);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
	.myPageHeader {
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
		height: 75px;
	}
	#context {
		flex-direction: column;
	}
	.section-content {
		width: 100%;
		height: calc(100% - 75px);
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.myPageHeader>a {
	
		font-size: 1em;
		width: fit-content;
	}

}