<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bannerAds">	
	<resultMap type="bannerAds" id="bannerAdsMap">
		<id column="ADS_KEY" property="adsKey"/>
		<result column="APPLICANT_KEY" property="applicantKey"/>
		<result column="ADS_ORIGINAL_FILE_NAME" property="adsOriginalFileName"/>
		<result column="ADS_RENAMED_FILE_NAME" property="adsRenamedFileName"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="APPLY_DATE" property="applyDate"/>
		<result column="URL_LINK" property="urlLink"/>
		<result column="ADS_DESCRIPTION" property="adsDescription"/>
		<result column="ADS_MEMO" property="adsMemo"/>
		<result column="ADS_STATUS_NO" property="adsStatusNo"/>
		<result column="ADS_TITLE" property="adsTitle"/>
		<result column="ADS_PRICE" property="adsPrice"/>				
		<result column="STATUS_DESC" property="statusDesc"/>				
		<result column="NICKNAME" property="nickName"/>				
	</resultMap>
	
	<!-- adsController(회원신청 용) -->

	<insert id="insertBannerAds" parameterType="bannerAds">
		INSERT INTO BANNER_ADS_APPLICATION VALUES(SEQ_ADS_KEY.NEXTVAL,#{applicantKey},
			#{adsOriginalFileName},#{adsRenamedFileName},#{startDate},#{endDate},SYSDATE,
			#{urlLink},#{adsDescription},DEFAULT,DEFAULT,#{adsTitle},#{adsPrice})
	</insert>
	
	<select id="selectBannerHoldCount" parameterType="int" resultType="int">
		SELECT COUNT(ADS_KEY) FROM BANNER_ADS_APPLICATION WHERE 
		APPLICANT_KEY=#{applicantKey} AND ADS_STATUS_NO=0
	</select>
	
	<select id="selectBannerAcceptCount" parameterType="int" resultType="int">
		SELECT COUNT(ADS_KEY) FROM BANNER_ADS_APPLICATION WHERE 
		APPLICANT_KEY=#{applicantKey} AND ADS_STATUS_NO=1
	</select>
	
	<select id="selectBannerRejectCount" parameterType="int" resultType="int">
		SELECT COUNT(ADS_KEY) FROM BANNER_ADS_APPLICATION WHERE 
		APPLICANT_KEY=#{applicantKey} AND ADS_STATUS_NO=6
	</select>
	
	<select id="selectAdsRate" resultType="int">
		SELECT ADS_RATE FROM (SELECT * FROM ADS_RATING ORDER BY SET_DATE DESC) WHERE ROWNUM=1 AND ADS_TYPE=1
	</select>
	
	<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- adminAdsController (관리자용) -->
	
	<select id="selectAccept" resultType="int">
		SELECT COUNT(ADS_STATUS_NO) FROM BANNER_ADS_APPLICATION LEFT JOIN DIRECT_SALES_ADS USING (ADS_STATUS_NO, APPLY_DATE) WHERE ADS_STATUS_NO=1 AND APPLY_DATE BETWEEN '210101' AND '211231' GROUP BY SUBSTR(APPLY_DATE,4,2)
	</select>
	
	<select id="selectDeny" resultType="int">
		SELECT COUNT(ADS_STATUS_NO) FROM BANNER_ADS_APPLICATION LEFT JOIN DIRECT_SALES_ADS USING (ADS_STATUS_NO, APPLY_DATE) WHERE ADS_STATUS_NO=6 AND APPLY_DATE BETWEEN '210101' AND '211231' GROUP BY SUBSTR(APPLY_DATE,4,2)
	</select>
	
	<select id="selectPending" resultType="int">
		SELECT COUNT(ADS_STATUS_NO) FROM BANNER_ADS_APPLICATION LEFT JOIN DIRECT_SALES_ADS USING (ADS_STATUS_NO, APPLY_DATE) WHERE ADS_STATUS_NO=0 AND APPLY_DATE BETWEEN '210101' AND '211231' GROUP BY SUBSTR(APPLY_DATE,4,2)
	</select>
	
	<!-- //////////////////////////////////// BannerAds만 상태 불러올 때(accept, deny, pending) /////////////////////////////////////// -->
	
	<!-- 승인된 광고 중 광고 개시날짜에 해당하는 광고 -->
	<select id="selectBannerAccept" parameterType="string" resultMap="bannerAdsMap">
		SELECT ADS_KEY, APPLICANT_KEY, ADS_RENAMED_FILE_NAME, URL_LINK, ADS_TITLE FROM BANNER_ADS_APPLICATION WHERE ADS_STATUS_NO=1 AND START_DATE <![CDATA[<=]]> #{today} AND END_DATE <![CDATA[>=]]> #{today}
	</select>
	
	<!-- 날짜별 승인된 BannerAds count -->
	<select id="selectAdsCountByDay" resultType="int">
		SELECT COUNT(ADS_KEY) FROM BANNER_ADS_APPLICATION WHERE ADS_STATUS_NO=1 AND START_DATE <![CDATA[<=]]> #{day} AND END_DATE <![CDATA[>=]]> #{day}
	</select>
	
	<!-- 승인된 전체광고 data-->
	<select id="selectBannerTotalAccept" parameterType="string" resultMap="bannerAdsMap">
		SELECT ADS_KEY, APPLICANT_KEY, ADS_RENAMED_FILE_NAME, URL_LINK, ADS_TITLE FROM BANNER_ADS_APPLICATION WHERE ADS_STATUS_NO=1
	</select>
	
	<!-- Banner 관리자 게시판 data -->
	<select id="selectAll" resultMap="bannerAdsMap">
		SELECT ADS_KEY, STATUS_DESC, ADS_TITLE, APPLY_DATE, NICKNAME FROM BANNER_ADS_APPLICATION 
		LEFT JOIN ADS_STATUS ON BANNER_ADS_APPLICATION.ADS_STATUS_NO=ADS_STATUS.ADS_STATUS_NO 
		LEFT JOIN MEMBER ON BANNER_ADS_APPLICATION.APPLICANT_KEY=MEMBER.MEMBER_KEY
	</select>
	
	<!-- 관리자 게시판 검토대기중인 요청수(count) -->
	<select id="selectBannerPending" resultType="_int">
		SELECT COUNT(ADS_STATUS_NO) FROM BANNER_ADS_APPLICATION WHERE ADS_STATUS_NO=0
	</select>
	
	<!-- 관리자 게시판 - 총 요청수(count) -->
	<select id="selectCountAll" resultType="_int">
		SELECT COUNT(*) FROM BANNER_ADS_APPLICATION
	</select>
	
	<select id="selectBannerWhole" resultMap="bannerAdsMap">
		SELECT ADS_KEY, ADS_ORIGINAL_FILE_NAME, ADS_RENAMED_FILE_NAME, START_DATE, END_DATE, APPLY_DATE, URL_LINK, ADS_DESCRIPTION, ADS_MEMO, ADS_TITLE, ADS_PRICE, NICKNAME 
		FROM BANNER_ADS_APPLICATION 		
		LEFT JOIN MEMBER ON BANNER_ADS_APPLICATION.APPLICANT_KEY=MEMBER.MEMBER_KEY
	</select>
	
	<select id="selectBannerDeny" resultType="int">
		SELECT COUNT(ADS_STATUS_NO) FROM BANNER_ADS_APPLICATION WHERE ADS_STATUS_NO=6 AND APPLY_DATE BETWEEN '210101' AND '211231' GROUP BY SUBSTR(APPLY_DATE,4,2)
	</select>
	
</mapper>
