<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="directAds">

	<!-- adsController(회원신청 용) -->

	<insert id="insertDirectAds" parameterType="directAds">
		INSERT INTO DIRECT_SALES_ADS VALUES(SEQ_ADS_KEY.NEXTVAL,#{applicantKey},
			#{startDate},#{endDate},SYSDATE,DEFAULT,DEFAULT,#{articleNo},#{adsPrice})
	</insert>

	<select id="selectDirectHoldCount" parameterType="int" resultType="int">
		SELECT COUNT(ADS_KEY) FROM DIRECT_SALES_ADS WHERE 
		APPLICANT_KEY=#{applicantKey} AND ADS_STATUS_NO=0
	</select>
	
	<select id="selectDirectAcceptCount" parameterType="int" resultType="int">
		SELECT COUNT(ADS_KEY) FROM DIRECT_SALES_ADS WHERE 
		APPLICANT_KEY=#{applicantKey} AND ADS_STATUS_NO=1
	</select>
	
	<select id="selectDirectRejectCount" parameterType="int" resultType="int">
		SELECT COUNT(ADS_KEY) FROM DIRECT_SALES_ADS WHERE 
		APPLICANT_KEY=#{applicantKey} AND ADS_STATUS_NO=6
	</select>
	
	<select id="selectDirectAdsRate" resultType="int">
		SELECT ADS_RATE FROM (SELECT * FROM ADS_RATING ORDER BY SET_DATE DESC) WHERE ROWNUM=1 AND ADS_TYPE=2
	</select>
	
	<select id="selectBoardDirectSale" parameterType="com.col.domein.product.model.vo.BoardProductSaleContent" resultType="list">
		SELECT * FROM BOARD_DIRECT_SALE WHERE BUSINESS_KEY IN
		<foreach collection="list" item="k" index="i" open="(" separator="," close=")">
			#{k}
		</foreach>
	</select>
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- DirectAds만 상태 불러올 때(accept, deny, pending) -->
	
	<select id="selectDirectAccept" resultType="int">
		SELECT COUNT(ADS_STATUS_NO) FROM DIRECT_SALES_ADS WHERE ADS_STATUS_NO=1 AND APPLY_DATE BETWEEN '210101' AND '211231' GROUP BY SUBSTR(APPLY_DATE,4,2)
	</select>
	
	<select id="selectDirectDeny" resultType="int">
		SELECT COUNT(ADS_STATUS_NO) FROM DIRECT_SALES_ADS WHERE ADS_STATUS_NO=6 AND APPLY_DATE BETWEEN '210101' AND '211231' GROUP BY SUBSTR(APPLY_DATE,4,2)
	</select>
	
	<select id="selectDirectPending" resultType="int">
		SELECT COUNT(ADS_STATUS_NO) FROM DIRECT_SALES_ADS WHERE ADS_STATUS_NO=0 AND APPLY_DATE BETWEEN '210101' AND '211231' GROUP BY SUBSTR(APPLY_DATE,4,2)
	</select>
	
</mapper>
