@charset "UTF-8";

section{
    box-sizing: border-box;
}
.top{
    display:flex;
    justify-content: space-around;
}
.top-logo{
    width: 30%;
    margin-top: 2em;
    margin-left: 4em;
}
.top-logo img{
    width: 25em;
    height: 30em;
    border-radius: 10%;
}
.top-nickname{
    width: 50%;
    margin-top: 1em;
    margin-right: 5em;
}
.top-nickname h4{
    border:1px solid black;
    width: 20%;
    height: 50px;
    vertical-align: middle;
    font-size: 2em;
}
.top-nickname p{
    border:1px solid black;
    width: 70%;
    height: 10em;
    font-size: 2em;
    
}
.top-button{
    width: 30%;
    margin-top: 4em;
    margin-right: 10%;
}
.top-button button{
    width: 8em;
    height: 50px;
}
.bottom{
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
}
.bottom button{
    font-size: 2em;
    width: 7em;
}