.container{
	padding-top: 8%;
}
.row{
    padding-top: 20px;
}
.form{
	padding-top: 120px;
}
.row table th{
    padding-left: 10px;
    padding-right: 20px;
}
.sbm{
    width:100%;
    margin-right:90%;
    padding-left: 50%;
}
.sbm input{
    /* margin-left: 20px; */
    /* width: 6rem;
    height: 3rem; */
}