<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="order">

	<resultMap type="order" id="orderMap">
		<id column="ORDER_NO" property="orderNo" />
		<result column="BUYER_KEY" property="buyerKey" />
		<result column="ORDERED_DATE" property="orderedDate" />
		<result column="LAST_MODIFIED_DATE" property="lastModifiedDate" />
		<result column="PAYMENT_METHOD" property="paymentMethod" />
		<result column="ORDER_STATUS_NO" property="orderStatusNo" />
		<result column="APPLY_NUM" property="applyNum" />
		<result column="MERCHANT_UID" property="merchantUid" />
		<result column="BUYER_TEL" property="buyerTel" />
		<result column="RECEIVER_NAME" property="receiverName" />
		<result column="RECEIVER_TEL" property="receiverTel" />
		<result column="RECEIVER_POSTCODE" property="receiverPostcode" />
		<result column="RECEIVER_ADDR" property="receiverAddr" />
		<result column="RECEIVER_COMMENT" property="receiverComment" />
		<result column="DISCOUNT" property="discount" />
		<result column="TOTAL_PRICE" property="totalPrice" />
		<association property="status_desc"
			column="ORDER_STATUS_NO" javaType="String"
			select="order.selectOrderStatusDesc"></association>
	</resultMap>

	<select id="selectOrderStatusDesc" resultType="string">
		SELECT STATUS_DESC
		FROM ORDER_STATUS WHERE ORDER_STATUS_NO = #{orderStatusNo}
	</select>

	<select id="getCurrentOrderNoSequence" resultType="_int">
		SELECT SEQ_ORDER_NO.NEXTVAL FROM DUAL
	</select>

	<insert id="insertOrder" parameterType="order">
		INSERT INTO
		ORDERS(ORDER_NO,BUYER_KEY,PAYMENT_METHOD,APPLY_NUM,MERCHANT_UID,BUYER_TEL,RECEIVER_NAME,RECEIVER_TEL,RECEIVER_POSTCODE,RECEIVER_ADDR,RECEIVER_COMMENT,DISCOUNT,TOTAL_PRICE)
		VALUES(#{orderNo},#{buyerKey},#{paymentMethod},#{applyNum},#{merchantUid},#{buyerTel},#{receiverName},#{receiverTel},#{receiverPostcode},#{receiverAddr},#{receiverComment},#{discount},#{totalPrice})
	</insert>
</mapper>
