@charset "UTF-8";
  #footer{
        width: 100%;
        height:auto;
        background: #808e95 ;
        
    }
 #footer a{
        text-decoration: none;
        color:black;
    }
    #footer li{
    list-style-type: none;
    }
    #footer .footer-container{
        display: block;
        color: #ffffff;
        border: 0 1px solid black; 
        
    }
   
   .footer-text-items{
       display:flex;
       margin-left: 10px;
       justify-items: baseline;
       align-items: baseline;
   }
   .footer-text-items li{
       margin-left: 30px;
   }
   
   .footer-text-items li a{
       font-size: 18px;
       font-weight: 1000;
        cursor: pointer;

   
   }
    #footer-sns-img{
        width: 50px;
        height:50px;
        box-sizing: border-box;

    }
    .text-copyright{
        margin-left: 80px;
        cursor: pointer;
    }
    .footer-small-text {
        display:none;
    }
    /* small-device */
    @media (max-width:768px){
    	#footer{
    		display:none;
    	}
/*         .footer-text-items{
            display: none;
        }
        .footer-text-items .displayNone{
            display: none;

        }
    
        
    .footer-text-items li a{
        font-size:15px;
       
    }
    .text-copyright{
        padding-bottom: 10px;
    }
    .footer-small-text{
        display: flex;
        width:auto;
        font-size: 8px;
        font-weight: 500;
        margin: 10px;
    }
    .footer-small-text li{
        width:25%;
        margin: 0 10px;
    }
    .footer-small-text li a{
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .text-copyright a{
        width:auto;
        font-size: 8px;
    }
  */
}

