<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="category">
	<resultMap type="businessCategory" id="categoryMap">
		<result column="BUSINESS_CATEGORY_NO" property="businessCategoryNo"/>
		<association property="categoryDesc" column="BUSINESS_CATEGORY_NO" javaType="String" select="category.selectCategoryDesc"></association>
	</resultMap>
	
	<!-- 리절트맵 세팅 -->
	<select id="selectCategoriesByBusinessKey" resultType="businessCategory" resultMap="categoryMap">
		SELECT BUSINESS_CATEGORY_NO FROM BUSINESS_CATEGORIES WHERE BUSINESS_KEY = #{businessKey}
	</select>
	
	<select id="selectCategoryDesc" resultType="string">
		SELECT CATEGORY_DESC FROM BUSINESS_CATEGORY_DESC WHERE BUSINESS_CATEGORY_NO = #{businessCategoryNo}
	</select>
	
	<!-- 세팅 끝 -->
	
	<insert id="insertBusinessCategory" parameterType="map">
		INSERT INTO
		BUSINESS_CATEGORIES(BUSINESS_KEY,BUSINESS_CATEGORY_NO)
		VALUES(#{businessKey},#{businessCategoryNo})
	</insert>
	<delete id="deleteCategories">
		DELETE FROM BUSINESS_CATEGORIES WHERE BUSINESS_KEY =#{businessKey}
	</delete>
</mapper>
