<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="product">
		
		<insert parameterType="product" id="insertProduct">
			INSERT INTO DIRECT_SALE_PRODUCT VALUES(SEQ_PRODUCT_NO.NEXTVAL,
			#{productName},
			#{productQuality},
			#{Origin},
			#{productQuantity},
			#{measureUnit},
			#{productQuantity},
			#{price},
			#{productionDate},
			#{expiryDate},
			<if test="articleNo == 0">
				And articleNo = '0'
			</if>
			<if test="productStatusNo == 0">
				And productStatusNo = '1'
			
			</if>
			) 
			<selectKey order="AFTER" resultType="_int" keyProperty="ProductNo">
				SELECT SEQ_PRODUCT_NO.CURRVAL FROM DUAL
			</selectKey>
		
		</insert>
		
		<insert parameterType="attachement" id="insertAttachement">
			INSERT INTO BDS_ATTACHED_IMAGE VALUES(SEQ_PRODUCTIMAGENO.NEXTVAL,
			#{ProductNo},
			#{origin_File_name},
			#{renamed_File_name}
			)
		 </insert>
		
		</mapper>
