<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.col.domein.product.model.vo.Product" alias="product"/>
		<typeAlias type="com.col.domein.product.model.vo.Attachement" alias="attachement"/>
		<typeAlias type="com.col.domein.product.model.vo.ProductAll" alias="productAll"/>
		<typeAlias type="com.col.domein.product.model.vo.BoardProductSaleContent" alias="boardProductSaleContent"/>
		<typeAlias type="com.col.domein.common.typeHandler.StringArrayTypeHandler" alias="strArr"/>
		<typeAlias type="com.col.domein.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.col.domein.business.model.vo.Business" alias="business"/>
		<typeAlias type="com.col.domein.business.model.vo.BusinessCategory" alias="businessCategory"/>
		<typeAlias type="com.col.domein.mail.model.vo.EmailCheck" alias="emailCheck"/>
		<typeAlias type="com.col.domein.member.oauth.model.vo.SnsInfo" alias="snsInfo"/>
		<typeAlias type="com.col.domein.member.model.vo.MemberLog" alias="memberLog"/>
		<typeAlias type="com.col.domein.cart.model.vo.Cart" alias="cart"/>
		<typeAlias type="com.col.domein.common.crteria.SearchCriteria" alias="searchCriteria"/>
		<typeAlias type="com.col.domein.ads.model.vo.BannerAds" alias="bannerAds"/>
		<typeAlias type="com.col.domein.ads.model.vo.DirectAds" alias="directAds"/>
		<typeAlias type="com.col.domein.board.model.vo.BoardKnowBattle" alias="boardKnowBattle"/>
		<typeAlias type="com.col.domein.board.model.vo.Attachment" alias="attachment"/>
	</typeAliases>
</configuration>
