<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
		<title>Document</title>
		<link
			rel="stylesheet"
			href="../../../../../../src\main\webapp\resources\css\sharedStyle.css"
		/>
		<link
			rel="stylesheet"
			href="../../../../../../src\main\webapp\resources\css\signUp\businessInfo.css"
		/>
	</head>

	<body>
		<section>
			<div class="form-logo-cont">
				<img
					src="../../../../../../src\main\webapp\resources\images\logo\signature.png"
					alt=""
				/>
			</div>
			<form action="">
				<div class="form-wrapper">
					<table>
						<tr>
							<td>사업자 등록번호</td>
							<td>
								<input
									type="number"
									class="input--text"
									placeholder="-를 제외한 번호만"
								/>
							</td>
						</tr>
						<tr>
							<td>주소</td>
							<td>
								<input
									type="text"
									class="input--text"
									id="narrow-field"
									readonly
								/>
								<button class="input--text">우편번호 찾기</button>
							</td>
						</tr>
						<tr>
							<td></td>
							<td><input type="text" class="input--text" readonly /></td>
						</tr>
						<tr>
							<td></td>
							<td>
								<input
									type="text"
									class="input--text"
									placeholder="나머지 주소"
								/>
							</td>
						</tr>
						<tr>
							<td>카테고리</td>
							<td class="categories">
								<label for="">
									<div class="img-labels-container">
										<h5>정육</h5>
										<img
											src="../../../../webapp/resources/images/signUp/beef.png"
											alt=""
										/>
									</div>
								</label>
								<label for="">
									<div class="img-labels-container">
										<h5>수산</h5>
										<img
											src="../../../../webapp/resources/images/signUp/fish.png"
											alt=""
										/>
									</div>
								</label>
								<label for="">
									<div class="img-labels-container">
										<h5>야채</h5>
										<img
											src="../../../../webapp/resources/images/signUp/vegetables.png"
											alt=""
										/>
									</div>
								</label>
								<label for="">
									<div class="img-labels-container">
										<h5>철물</h5>
										<img
											src="../../../../webapp/resources/images/signUp/beam.png"
											alt=""
										/>
									</div>
								</label>
							</td>
						</tr>
						<tr>
							<td></td>
							<td class="categories">
								<label for="">
									<div class="img-labels-container">
										<h5>애견</h5>
										<img
											src="../../../../webapp/resources/images/signUp/bone.png"
											alt=""
										/>
									</div>
								</label>
								<label for="">
									<div class="img-labels-container">
										<h5>베이커리</h5>
										<img
											src="../../../../webapp/resources/images/signUp/bread.png"
											alt=""
										/>
									</div>
								</label>
								<label for="">
									<div class="img-labels-container">
										<h5>전자기기</h5>
										<img
											src="../../../../webapp/resources/images/signUp/free-icon-lightning-616494.png"
											alt=""
										/>
									</div>
								</label>
								<label for="">
									<div class="img-labels-container">
										<h5>기타</h5>
										<img
											src="../../../../webapp/resources/images/signUp/free-icon-question-mark-in-dark-circle-71768.png"
											alt=""
										/>
									</div>
								</label>
							</td>
						</tr>
						<div class="input-fields">
							<input type="checkbox" name="beef" id="beef" />
							<input type="checkbox" name="seafood" id="seafood" />
							<input type="checkbox" name="vegetable" id="vegetable" />
							<input type="checkbox" name="steel" id="steel" />
							<input type="checkbox" name="pet" id="pet" />
							<input type="checkbox" name="bakery" id="bakery" />
							<input type="checkbox" name="electronics" id="electronics" />
							<input type="checkbox" name="etc" id="etc" />
						</div>
					</table>
					<div>
						<button class="btn btn--primary">가입</button>
						<button class="btn btn--primary2">취소</button>
					</div>
				</div>
			</form>
		</section>
	</body>
</html>
