<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
		<link
			rel="stylesheet"
			href="../../../../../../src\main\webapp\resources\css\sharedStyle.css"
		/>
		<link
			rel="stylesheet"
			href="../../../../../../src\main\webapp\resources\css\signUp\registrationForm.css"
		/>
		
		<title>Document</title>
	</head>
	<body>
		<section>
			<form action="">
				<div class="form-logo-cont">
					<img
						src="../../../../../../src\main\webapp\resources\images\logo\signature.png"
						alt=""
					/>
				</div>
				<div class="form-container">
					<table>
						<tr class="form-row">
							<td>
								<div class="icons">
									<img
										src="../../../../../../src/main/webapp/resources/images/signUp/student-card.png"
										alt=""
									/>
								</div>
							</td>
							<td>
								<input type="text" class="input--text" placeholder="아이디" />
							</td>
            </tr>
            <tr class="message-row"><td></td><td class="message-cont">영소문자/숫자로 이루어진 5~15 길이의 아이디</td></tr>
						<tr class="form-row">
							<td>
								<div class="icons">
									<img
										src="../../../../../../src/main/webapp/resources/images/signUp/padlock (2).png"
										alt=""
									/>
								</div>
							</td>
							<td>
								<input type="password" class="input--text" placeholder="비밀번호" />
							</td>
            </tr>
            <tr class="message-row"><td></td><td class="message-cont">8자 이상/1개 이상의 영문자와 특수문자</td></tr>
						<tr class="form-row">
							<td>
								<div class="icons">
									<img
										src="../../../../../../src/main/webapp/resources/images/signUp/padlock (3).png"
										alt=""
									/>
								</div>
							</td>
							<td>
								<input type="password" class="input--text" placeholder="비밀번호 확인" />
							</td>
							<td>

            </tr>
            <tr class="message-row"><td></td><td class="message-cont">일치</td></tr>
						<tr class="form-row">
							<td>
								<div class="icons">
									<img
										src="../../../../../../src/main/webapp/resources/images/signUp/user (2).png"
										alt=""
									/>
								</div>
							</td>
							<td>
								<input type="text" class="input--text" placeholder="이름" />
							</td>
            </tr>
            <tr class="message-row"><td></td><td class="message-cont">안녕</td></tr>
						<tr class="form-row">
							<td>
								<div class="icons">
									<img
										src="../../../../../../src/main/webapp/resources/images/signUp/user (2).png"
										alt=""
									/>
								</div>
							</td>
							<td>
								<input type="text" class="input--text" placeholder="닉네임" />
							</td>
            </tr>
            <tr class="message-row"><td></td><td class="message-cont">안녕</td></tr>
						<tr class="form-row">
							<td>
								<div class="icons">
									<img
										src="../../../../../../src/main/webapp/resources/images/signUp/telephone.png"
										alt=""
									/>
								</div>
							</td>
							<td>
								<input type="tel" class="input--text" placeholder="전화번호" />
              </td>
              <td><button class="btn btn--primary2">인증</button></td>
            </tr>
            <tr class="message-row"><td></td><td class="message-cont">안녕</td></tr>
						<tr class="form-row">
							<td>
								<div class="icons">
									<img
										src="../../../../../../src/main/webapp/resources/images/signUp/mail.png"
										alt=""
									/>
								</div>
							</td>
							<td>
								<input type="email" class="input--text" placeholder="이메일" />
							</td>
            </tr>
            <tr class="message-row"><td></td><td class="message-cont">안녕</td></tr>
					</table>
				</div>
				<div class="check-container">
					<table>
						<tr>
							<td>
								<label for="email-ad-check"
									>이메일로 정보를 받으시겠습니까?</label
								>
							</td>
							<td>
								<label for="email-ad-check"
									><img
										src="../../../../../../src/main/webapp/resources/images/signUp/unchecked.png"
										alt=""
										id="email-ad-check-img"
										class="small-check"
								/></label>
							</td>
						</tr>
						<tr>
							<td>
								<label for="additional-info-check"
									>사업자 정보를 입력하시겠습니까?</label
								>
							</td>
							<td>
								<label for="additional-info-check">
									<img
										src="../../../../../../src/main/webapp/resources/images/signUp/unchecked.png"
										alt=""
										id="additional-info-check-img"
										class="small-check"
									/>
								</label>
							</td>
						</tr>
					</table>
					<input type="checkbox" name="email-ad-check" id="email-ad-check" />
					<input
						type="checkbox"
						name="additional-info-check"
						id="additional-info-check"
					/>
				</div>
				<div class="button-container">
					<!-- 가입조건 체크 후 후에 가입하기의 클래스를 btn--primary로 바꾸어줌! -->
					<button class="btn btn--primary2" disabled>가입하기</button>
				</div>
			</form>
			<script src="../../../resources/js/signUp/registrationForm.js"></script>
		</section>
	</body>
</html>
