<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
		<link
			rel="stylesheet"
			href="../../../../../../src\main\webapp\resources\css\sharedStyle.css"
		/>
		<link
			rel="stylesheet"
			href="../../../../../../src\main\webapp\resources\css\signUp\signUpConsent.css"
		/>
		<title>Document</title>
	</head>
	<body>
		<section>
			<div class="consent-container">
				<h3 class="consent-title">개인정보 수집 이용 제공 동의</h3>
				<div class="consent-wrapper">
					<div class="consent-content">
						정보통신망법 규정에 따라 어쩌고 저쩌고 이러쿵 저러쿵 저쩌고 어쩌고
						도메인 사이트에 회원가입 신청하시는 분께 수집하는 개인정보의 항목,
						개인정보의 어쩌고 저쩌고 정보통신망법 규정에 따라 어쩌고 저쩌고
						이러쿵 저러쿵 저쩌고 어쩌고 도메인 사이트에 회원가입 신청하시는 분께
						수집하는 개인정보의 항목, 개인정보의 어쩌고 저쩌고 정보통신망법
						규정에 따라 어쩌고 저쩌고 이러쿵 저러쿵 저쩌고 어쩌고 도메인
						사이트에 회원가입 신청하시는 분께 수집하는 개인정보의 항목,
						개인정보의 어쩌고 저쩌고 정보통신망법 규정에 따라 어쩌고 저쩌고
						이러쿵 저러쿵 저쩌고 어쩌고 도메인 사이트에 회원가입 신청하시는 분께
						수집하는 개인정보의 항목, 개인정보의 어쩌고 저쩌고 정보통신망법
						규정에 따라 어쩌고 저쩌고 이러쿵 저러쿵 저쩌고 어쩌고 도메인
						사이트에 회원가입 신청하시는 분께 수집하는 개인정보의 항목,
						개인정보의 어쩌고 저쩌고 정보통신망법 규정에 따라 어쩌고 저쩌고
						이러쿵 저러쿵 저쩌고 어쩌고 도메인 사이트에 회원가입 신청하시는 분께
						수집하는 개인정보의 항목, 개인정보의 어쩌고 저쩌고 정보통신망법
						규정에 따라 어쩌고 저쩌고 이러쿵 저러쿵 저쩌고 어쩌고 도메인
						사이트에 회원가입 신청하시는 분께 수집하는 개인정보의 항목,
						개인정보의 어쩌고 저쩌고 정보통신망법 규정에 따라 어쩌고 저쩌고
						이러쿵 저러쿵 저쩌고 어쩌고 도메인 사이트에 회원가입 신청하시는 분께
						수집하는 개인정보의 항목, 개인정보의 어쩌고 저쩌고 정보통신망법
						규정에 따라 어쩌고 저쩌고 이러쿵 저러쿵 저쩌고 어쩌고 도메인
						사이트에 회원가입 신청하시는 분께 수집하는 개인정보의 항목,
						개인정보의 어쩌고 저쩌고
					</div>
				</div>
      </div>
      <div class="button-container">
        <button id="agree-btn" class="btn btn--primary">동의</button>
        <button id="cancel-btn" class="btn btn--primary2">취소</button>
      </div>
		</section>
	</body>
</html>
