#wholeback{
    display:flex;
    flex-flow:row wrap;
}
.tab_menu{
    width:18%;
    min-width: 240px;    
    /* background-color: #ffca28; */
    font-size:18px;
    border:1px #ddd solid;
    padding-left:15px;
}
.tab_menu h2{
    margin-bottom:12px;
}
#container{
    width:55%;    
    margin-left:20px;
}
#container>form>h2{
	margin:7px;
}
#container hr{
    margin-left:-20px;
}
.div_requestTitle{
    background-color: rgb(197, 189, 189);
    height:36px;
    margin-bottom: 5px;
    position: relative;
}
.div_requestTitle td:first-child{
    position:absolute;
    left:2%;
}
.div_requestTitle td:nth-child(2){
    position:absolute;
    left:66%;
}
.div_requestTitle td:last-child{
    position:absolute;
    left:84%;
}
.div_view{
    display: flex;
    position: relative;    
}
.div_viewFile{
    position:absolute;
    left:60%;
}
.div_preview{
    width:580px;
    min-width: 580px;    
    height:190px;        
    border:1px rgb(119, 119, 119) solid;
    text-align: center;     
    margin-top:36px;
    margin-bottom:10px;
    margin-left:55px;   
}
.div_message>textarea{
    width:84%;
}
#ads_url{
    width:40%;
}
.div_submit{
    margin-left:33%;
}
input[name="ads_price"]{
    margin-top:10px;
}