<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cart">

	<!--cart 로그인햇을경우가 잇을경우  -->
	<insert id="insertProductCart" parameterType="cart">
		insert into cart values(#{memberkey},#{pNo},#{count})
	</insert>
	
</mapper>
