<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cart">
	<!-- 비회원 장바구니 상품 불러오기 -->
	<select id="selectCartOne" resultType="map">
		select * from product_all where PRODUCT_NO = #{productNo}
	</select>
	
	<insert id="insertMemberCart" parameterType="cart">
		insert into cart values(#{memberKey},#{productNo},#{amount})
	</insert>
</mapper>
